@import '../../styles/colors.scss';

.sticky-header {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: $light-gray;
  width: 100%;
  overflow-x: auto;

  &.active-sticky {
    position: fixed;
    top: 0;
  }

  .tab {
    padding: 20px 0;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
  }

  .tab-underline {
    width: 0;
    transition: 0.5s ease;
    background-color: $blue;
    height: 3px;

    &.active {
      width: 100%;
    }
  }
}
