node_modules
build

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# Vim files
*.swp
*.swn
*.swm
*.swo
